$color: white;
$font-size: 25px;

%mainwidth{
	width: 80%;	
}

body{
	background-color:#133951;
	margin: 0;
	color: $color;
	
}


header{
	margin: 0;
}


header h1{
	background: darkgray;
	color: $color;
	font-family: serif;
	font-size: 70px;
	font-weight: 900;
	padding: 0px;
	text-shadow: 3px 3px 1px dodgerblue;
	margin: 0;
}


hr{
    height: 1px;
	background-color: $color;
	border: none;
}
.container{

	@extend: %mainwidth;
	float: left;
	margin: 5% 0% 7% 4%;
	font-size: $font-size;
	
	img{
	display: block;
	width: 25%;
	height: 25%;
	border-radius: 10%;
	margin-left: auto;
	margin-right: auto;
	}
	
	a{
	text-decoration-line: none;}
}

.sidebar{
	width: 30%;
	float: right;
	margin: 5% 0% 7% 2%;
	font-size: $font-size;
	
}
.resume_container{
	font-size: $font-size - 5px;
	margin-left: auto;
	margin-right: auto;
	@extend: %mainwidth;
	
	li{font-size: $font-size - 5px;}
}

.course_container{
	font-size: $font-size;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	li{font-size: $font-size - 5px;}
}


footer{
	clear: both;
	color: $color;
	background-color:black;
	padding: 0px;
}

.contactInfo{
	float: left;
	width: 40%;
	padding:30px;
	font-size: $font-size - 5px;
	text-align: center;
	
	p{font-size: $font-size;}
	
	a{
	text-decoration: none; 
	margin-right: 20px;
	}
}

#copyright{
	clear: both;
	text-align: center;

}
@media screen and (max-width: 790px) {
    .contactInfo{
		@extend: %mainwidth;
		float: none;
		margin-left: auto;
		margin-right: auto;
} 
	/*.contactForm{
		float: none;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
}*/
	.container{
		float: none;
		width: 100%;
}
	.sidebar{
		float: none;
		width: 100%;
}
	
}